body {
    background-color: #1E0021;
    font-family: 'Arimo', sans-serif;
}


#standings-header {
    font-size: 20px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

.nav-item {
    font-size: 15px;
}

.wrapper {
    margin: 0 auto;
    max-width: 65rem;
}

.table_header {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4E93FE;
    height: 80px;
    padding: 10px 0
}

.table_header h1{
    color: white;
}




